.question_1 {

    .header_question {

        height: 600px;
        background-image: url("../assets/images/Q1.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 30%;
        position: relative;

        @media (max-width: 768px) {

            height: 500px;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: white;
            opacity: 0.3; /* Réglez l'opacité du filtre blanc ici */
          }

        h1 {

            font-family: $title-font;
            font-size: 10em;
            z-index: 1;
            line-height: 1em;

            @media (max-width: 1300px) {

                font-size: 7em;
            }

            @media (max-width: 768px) {

                font-size: 5.5em;
            }

            @media (max-width: 640px) {

                font-size: 4em;
            }
        }
    }

    .intro {

        div {

            p {

                font-size: 1.2em;
                font-family: $text-font;
                line-height: 1.6em;

                @media (max-width: 1024px) {

                    font-size: 1.1em;
                }

                @media (max-width: 640px) {

                    font-size: 1em;
                }
            }
            ul {

                font-size: 1.2em;
                font-family: $text-font;
                line-height: 1.6em;
            }
        }
    }

    .cyberattaque {

        background: rgb(249,246,246);
        background: linear-gradient(165deg, rgba(249,246,246,1) 0%, rgba(204,218,229,1) 100%);
        border-radius: 0px 0px 30% 30%;

        @media (max-width: 640px) {

            border-radius: 0px 0px 6em 6em;
        }

        h2 {

            font-family: $title-font;
            font-size: 5em;
            line-height: 1.2em;

            @media (max-width: 768px) {

                font-size: 3.5em;
            }

            @media (max-width: 640px) {

                font-size: 2.8em;
            }
        }

        p {
            font-family: $text-font;
            font-size: 1.2em;
            line-height: 1.9em;

            @media (max-width: 640px) {

                font-size: 1em;
            }
        }

        .card_back_question {

            overflow: hidden;

            .card1 {
            
                transform: translateX(-200%);
                transition: 1s ease-in-out;
                @include card("../assets/images/back1.webp", 35em, 1.1em);

                h3 {
                    font-family: $title-font;
                    font-size: 3em;

                    @media (max-width: 640px) {

                        font-size: 2.5em;
                    }

                }
                p {

                    @media (max-width: 1024px) {

                        font-size: 1em;
                    }

                    @media (max-width: 640px) {

                        font-size: 0.9em;
                    }
                }
            }
    
            .active_card {
                transform: translateX(0%);
            }
        }
    }

    .text_bloc {

        div {

            i {
                font-size: 3em;
            }
            h3 {

                font-family: $title-font;
                font-size: 3em;
            }
        }

        p {
            font-family: $text-font;
            font-size: 1.2em;
            line-height: 1.6em;

            @media (max-width: 640px) {

                font-size: 1em;
            }
        }
    }

    .card_back_question_end {

        overflow: hidden;

            .card1 {
            
                transform: translateX(-200%);
                transition: 1s ease-in-out;
                @include card("../assets/images/back1.webp", 450px, 1.1em);
                background-color: rgb(236, 235, 235);

                h3 {
                    font-family: $title-font;
                    font-size: 2.5em;

                    @media (max-width: 1024px) {

                        font-size: 2em;
                    }

                    @media (max-width: 768px) {

                        font-size: 1.7em;
                    }
                }

                p {

                    @media (max-width: 1024px) {

                        font-size: 1em;
                    }

                    @media (max-width: 768px) {

                        font-size: 0.9em;
                    }
                }
            }
            
            .card2 {
                
                transform: translateX(200%);
                transition: 1s ease-in-out;
                @include card("../assets/images/back2.webp", 450px, 1.1em);
                background-color: rgb(236, 235, 235);

                h3 {
                    font-family: $title-font;
                    font-size: 3em;

                    @media (max-width: 1024px) {

                        font-size: 2em;
                    }

                    @media (max-width: 768px) {

                        font-size: 1.7em;
                    }
                }

                p {

                    @media (max-width: 1024px) {

                        font-size: 1em;
                    }

                    @media (max-width: 768px) {

                        font-size: 0.9em;
                    }
                }

            }
            .active_card {
                transform: translateX(0%);
            }
    }

    .text_end {

        font-family: $text-font;
        font-size: 2em;

        @media (max-width: 1024px) {

            font-size: 1.8em;
        }

        @media (max-width: 640px) {

            font-size: 1.4em;
        }
    }

    @include contact-button(3.5em, 1.5em);
}